# This file is partially managed by enkore
# Add your own entries below this comment:



# Section managed by enkore ; DO NOT ADD ENTRIES AFTER THIS LINE! (f4300779-6ccc-4677-b496-44c833c4a2c3)
.DS_Store
/.enkore/
/build/
/node_modules/
/objects/
/products/
/secrets/
